table {
  border: 1px solid black;
}

td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(139, 184, 23);
  transform: translateY(0%);
  transition: transform 0.25s linear;
}

.modal.hidden {
  transform: translateY(100%);
}
